/* ****FONTS**** */

@font-face {
    font-family: berlinSansFB;
    src: url("../fonts/Berlin Sans FB Regular.ttf");
}

/* ****GENERAL**** */

ul li{
	list-style: none;
}

ul {
	margin: 0;
	padding: 2.5px 0;
}

a {
	text-decoration: none;
	color: #0b7fca;
}

p {
	font-size: 1.2em;
}

html {
	height: 100%;
	background: url(../pic/background.png);
    background-size: 100% 100%;
	background-attachment: fixed;
}

body {
	font-family: 'Titillium Web', Georgia, sans-serif;
	color: #444;
}

h1 {
	padding: 0;
	margin: 0;
}

h3 {
	padding: 0;
	margin: 0;
}

#main {
	overflow: hidden;
}

#center {
	margin: 170px auto;
	text-align: center;
}

.container {
  margin: 60px auto;
}

/* ****HEADER**** */

nav ul li{
	display: inline-block;
	margin: 0 20px;
}

#logoText {
	font-family: berlinSansFB, Georgia, sans-serif;
	float: right;
	font-size: 6em;
	margin-right: 30px;
}

#leftHead {
	float: left;
	margin: 10px 0 0 30px;
}

#name {
	font-size: 2.3em;
}

header {
	color: #FFF;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
}

#headBackground {
	background-color: #0b7fca;
}

header a {
	color: #FFF;
}

nav {
	clear: both;
	background-color: #61a1ca;
	text-align: center;
}

.current {
	font-weight: 700;
}

#arrow {
	visibility: hidden;
	clear: both;
	display: block;
	width: 40px;
	height: 15px;
	margin: 0 auto;
}

#parallaxHeader {
  background: url("../pic/webcode.png") repeat fixed 100%;
  padding: 20px 0;
  color: white;
}

/* ****ABOUT**** */

#myPic {
	display: block;
	width: 200px;
	height: 200px;
	border-radius: 20%;
	margin: 0 auto 20px;
}

section {
	max-width: 45%;
	position: relative;
}

#left {
	float: left;
	text-align: left;
}

#right {
	float: right;
	text-align: right;
}

#aboutMain {
	width: 80%;
  display: inline-block;
}

img.sideIcons {
	width: 20px;
	height: 20px;
}

/* ****PORTFOLIO**** */

#portfolioMain {

}

/* ****CONTACT**** */

table {
	margin: 0 auto;
	width: 100%;
}

input[type=text], textarea {
	resize: none;
	width: 40%;
	min-width: 200px;
}

th, td {
	display: block;
}

#submitButton {
	width: 40%;
	color: white;
	background-color: #0b7fca;
	border: 0;
	height: 2.5em;
	min-width: 200px;
}

input, textarea {
	margin: 5px 0;
	border-radius: 10px;
	border: solid 1px #61a1ca;
}

#contactMain ul li {
	padding: 5px 0;
	font-size: 1.3em;
	color: #61a1ca;
}

#contactMain {
	max-width: 80%;
}

/* ****FOOTER**** */

footer {
	clear: both;
	margin-top: 100px;
	position: absolute;
	left: 0;
	right: 0;
}

img.expand {
	display: inline-block;
	width: 75px;
	height: 75px;
	border-radius: 100%;
	border: 3px solid #0b7fca;
	-webkit-transition: width 0.5s, height 0.5s; /* Safari */
    transition: width 0.5s, height 0.5s;
	opacity: 0.7;
	margin-right: -5px;
}

img.expand:hover {
	width: 93.75px;
	height: 93.75px;
}

.line {
	position: relative;
	display: inline-block;
	width: 20px;
	border: 3px solid #61a1ca;
	bottom: 37.5px;
	margin-right: -5px;
}

/* ****RESPONSIVE**** */

@media screen and (max-width: 480px) {

	img.expand {
		width: 50px;
		height: 50px;
	}

	img.expand:hover {
		width: 62.5px;
		height: 62.5px;
	}

	.line {
		bottom: 25px;
	}

	#myPic {
		width: 150px;
		height: 150px;
	}

	#name, h3{
		display: none;
	}

	#logoText {
		float: none;
		text-align: center;
	}

}

@media screen and (max-width: 600px) {

	#arrow {
		visibility: visible;
	}

}

@media screen and (max-width: 1000px) {

	p {
		font-size: 1em;
	}

	img.sideIcons {
		width: 10px;
		height: 10px;
	}

	section {
		max-width: 100%;
	}

	#left, #right {
		float: none;
		text-align: center;
	}

}
