body {
	background-color: #EEE;
	text-align: center;
	color: #333;
	font-family: 'Titillium Web', Georgia, sans-serif;
}

img {
	display: block;
	margin: 50px auto;
	border-radius: 100%;
	max-width: 100%;
	width: 400px;
	height: 400px;
	opacity: 0.8;
}

h1 {
	font-size: 3.4em;
	margin-bottom: 40px;
}

p {
	font-size: 1.5em;
}

h3 {
	font-size: 1.7em;
}

/* **** RESPONSIVE **** */

@media screen and (max-width: 480px) {
	img {
		width: 300px;
		height: 300px;
	}
}